{% extends 'base.html.twig' %}

{% block title %}K7 Train #3 {% endblock %}

{% block body %}

    <div class="container">
        <h1>K7 #3</h1>

        <div>
                <li><a href="{{ path('download-compiltrain') }}">Télécharger la compil</a></li>
                <li><a href="{{ path('home')}}">Revenir à la liste de tous les superbes numéros</a></li>
            <p></p>
        </div>
        <div>
                <img class="card-img-top" src="{{ asset('/img/Oisif-agressif-K7.jpg') }}" alt="Compil train">

        </div>
    </div>

{% endblock %}
